<div ng-init="shots = [{
    id: 2075611,
    title: &quot;Fattys pt. II&quot;,
    description: &quot;<p>Just sent cans to print. Quenching your thirst so soon...</p>&quot;,
    height: 600,
    width: 800,
    likes_count: 337,
    comments_count: 21,
    rebounds_count: 0,
    url: &quot;http://dribbble.com/shots/2075611-Fatty-s-pt-II&quot;,
    short_url: &quot;http://drbl.in/oNFF&quot;,
    views_count: 2249,
    rebound_source_id: 1508278,
    image_url: &quot;https://d13yacurqjgara.cloudfront.net/users/52758/screenshots/2075611/fattys_can_j_fletcher.jpg&quot;,
    image_teaser_url: &quot;https://d13yacurqjgara.cloudfront.net/users/52758/screenshots/2075611/fattys_can_j_fletcher_teaser.jpg&quot;,
    image_400_url: &quot;https://d13yacurqjgara.cloudfront.net/users/52758/screenshots/2075611/fattys_can_j_fletcher_1x.jpg&quot;,
    created_at: &quot;2015/05/22 13:36:24 -0400&quot;
}, {
    id: 2075538,
    title: &quot;Hillary!&quot;,
    description: &quot;<p>Hillary Clinton Aims to Capture the Cool AD: Rodrigo Honeywell
    <br />http://www.nytimes.com/2015/05/24/fashion/hillary-clinton-aims-to-capture-the-cool.html?ref=fashion</p>&quot;,
    height: 600,
    width: 800,
    likes_count: 153,
    comments_count: 9,
    rebounds_count: 0,
    url: &quot;http://dribbble.com/shots/2075538-Hillary&quot;,
    short_url: &quot;http://drbl.in/oNEk&quot;,
    views_count: 1158,
    rebound_source_id: null,
    image_url: &quot;https://d13yacurqjgara.cloudfront.net/users/2046/screenshots/2075538/hill_final.jpg&quot;,
    image_teaser_url: &quot;https://d13yacurqjgara.cloudfront.net/users/2046/screenshots/2075538/hill_final_teaser.jpg&quot;,
    image_400_url: &quot;https://d13yacurqjgara.cloudfront.net/users/2046/screenshots/2075538/hill_final_1x.jpg&quot;,
    created_at: &quot;2015/05/22 12:51:39 -0400&quot;
}, {
    id: 2075352,
    title: &quot;Streamup&quot;,
    description: &quot;<p>Didnt make the cut, on to the next!</p>&quot;,
    height: 600,
    width: 800,
    likes_count: 138,
    comments_count: 7,
    rebounds_count: 0,
    url: &quot;http://dribbble.com/shots/2075352-Streamup&quot;,
    short_url: &quot;http://drbl.in/oNAG&quot;,
    views_count: 890,
    rebound_source_id: null,
    image_url: &quot;https://d13yacurqjgara.cloudfront.net/users/31752/screenshots/2075352/streamup.png&quot;,
    image_teaser_url: &quot;https://d13yacurqjgara.cloudfront.net/users/31752/screenshots/2075352/streamup_teaser.png&quot;,
    image_400_url: &quot;https://d13yacurqjgara.cloudfront.net/users/31752/screenshots/2075352/streamup_1x.png&quot;,
    created_at: &quot;2015/05/22 11:28:11 -0400&quot;
}]"> <div class="ui special cards" infinitescroll="loadMore()"> <div ng-concrete-shot class="card" data-ng-repeat="data in shots" id="card-{{$index}}"></div> </div></div>